<%- include("partials/head.ejs") %>

    <form action="/submit" method="POST">
        <div class="container">
            <% for (var i = 0; i < poll.length; i++) { %>
                <div class="question">
                    <h3><%= poll[i].question %></h3>
                    <% for (var k = 0; k < poll[i].options.length; k++) {%>
                        <div class="option">
                            <input type="checkbox" value="<%= k %>" id="q<%= i %>o<%= k %>" name="q<%= i %>">
                            <!--<label for="q<%= i %>o<%= k %>" ><%= poll[i].info[k].title %></label>-->
                            <div>
                                <img src="<%= poll[i].image[k] %>" alt="<%= poll[i].info[k].title %> title image">
                                <div>
                                    <h3><%= poll[i].info[k].title %></h3>
                                    <h4><%= poll[i].info[k].taglines %></h4>
                                    <p><%= poll[i].info[k].overview %></p>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
        <div class="bottom-buttons">
            <div><input type="submit" value="Submit" class="button"></div>
        </div>
    </form>
</body>
</html>