<%- include("partials/head.ejs") %>
<%- include("partials/background.ejs") %>

<div class="container">
        <div class="question">
            <a href="/search">
                <h2>Add Items To Lists</h2>
            </a>
        </div>
        <form action="/manage" method="POST" class="container">
                <div class="question">
                    <h2>Remove Items From Lists</h2>
                    <p>Check boxes below, and then press remove to remove movies from the list</p>
                </div>
                <% for (var i = 0; i < poll.length; i++) { %>
                    <div class="question">
                        <h3><%= poll[i].question %></h3>
                        <% for (var k = 0; k < poll[i].options.length; k++) {%>
                            <div class="option">
                                <input type="checkbox" value="<%= poll[i].options[k] %>" name="q<%= i %>">
                                <div>
                                    <img src="<%= poll[i].image[k] %>" alt="<%= poll[i].info[k].title %> title image">
                                    <div>
                                        <h3><%= poll[i].info[k].title %></h3>
                                        <h4>Audience Rating: <%= poll[i].info[k].communityRating %>/10</h4>
                                        <h4><%= poll[i].info[k].taglines %></h4>
                                        <p><%= poll[i].info[k].overview %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            <div class="bottom-buttons">
                <input type="submit" value="Remove Selected" class="button">
            </div>
        </form>
</div>
<hr>
</div>
<div class="container">
    <div class="question">
        <h2>Save My Polls to Server Disk</h2>
        <div class="bottom-buttons">
            <form action="/save" method="POST">
                <input type="hidden" name="save" value="save">
                <input class="button" type="submit" value="Save">
            </form>
        </div>
    </div>
    <div class="question">
        <h2>Create a JSON of Current Poll</h2>
        <div class="bottom-buttons">
            <a href="/poll">
                <div class="button">Get JSON</div>
            </a>
        </div>
        <p>This poll can be restored by POSTing the JSON to the /poll API Endpoint or pasting the JSON text.</p>
    </div>
    <div class="question">
        <h2>Restore Poll from JSON Text</h2>
        <div class="bottom-buttons">
            <form action="/pollfile" method="POST">
                <input type="text" name="pollText">
                <input class="button" type="submit" value="Restore Poll">
            </form>
        </div>
        <p>Paste JSON text in the input box above, and then press restore poll.</p>
    </div>
    <div class="question">
        <h2>List Management</h2>
        <div class="question">
            <h2>Add List</h2>
            <form action="/create-list" method="POST">
                <input type="text" name="question">
                <input class="button" type="submit" value="Create New List">
            </form>
        </div>
        <div class="question">
            <h2>Remove List</h2>
            <form action="/remove-list" method="POST">
                <select name="question">
                    <% for (let j = 0; j < poll.length; j++){ %>
                        <option value="<%= j %>" name="list"><%= poll[j].question %></option>
                    <% } %>
                </select>
                <input class="button" type="submit" value="Delete List">
            </form>
        </div>
    </div>
    <div class="question">
        <h2>Reset Votes</h2>
        <div class="bottom-buttons">
            <form action="/reset" method="POST">
                <input type="hidden" name="reset" value="reset">
                <input class="button" type="submit" value="RESET ALL VOTES">
            </form>
        </div>
    </div>
    <div class="question">
        <h2>Nuke Poll</h2>
        <div class="bottom-buttons">
            <form action="/nuke" method="POST">
                <input class="button" type="submit" value="Delete Entire Poll">
            </form>
        </div>
    </div>
</div>
</body>
</html>