<%- include("partials/head.ejs") %>
<%- include("partials/background.ejs") %>
    <div class="container">
        <div class="question">
            <h3>Library Search</h3>
                <form class="search-bar" action="/search" method="POST">
                    <input type="text" name="searchBox">
                    <input class="button" type="submit" value="Search!">
                    <a href="/"><div class="button">Return to Voting</div></a>
                    <a href="/results"><div class="button">Results</div></a>
                </form>
        </div>
        
        <% if (locals.content){ %>
            <div class="question">
            <table>
                <tr><th>Title</th><th>Year</th><th>Add to Poll</th></tr>
                <% for (let i = 0; i < content.SearchHints.length; i++){ %>
                    <tr>
                        <td class="list"><%= content.SearchHints[i].Name %></td>
                        <td><%= content.SearchHints[i].ProductionYear %></td>
                        <td>
                            <form action="/add" method="POST">
                                <select name="question">
                                    <% for (let k = 0; k < poll.length; k++){ %>
                                        <option id="dropdown" value="<%= k %>">List <%= k %></option>
                                    <% } %>
                                </select>
                                <input type="hidden" name="itemID" value="<%= content.SearchHints[i].ItemId %>" id="itemID">
                                <input
                                    type="submit"
                                    id="<%= content.SearchHints[i].ItemId %>"
                                    value="Add">
                            </form>
                        </td>
                    </tr>
                <% } %>
            </table>
            </div>
        <% } %>
    </div>